# Ignore everything by default


# Ignore build artifacts
*.o
seq2exp
__pycache__/

# But don't ignore the Makefile
!Makefile

# Don't ignore the C++ source and header files used by the Makefile
!Tools.cpp
!Tools.h
!ExprPredictor.cpp
!ExprPredictor.h
!seq2exp.cpp

# Don't ignore cross-validation related files
!create_cvcc_data.cpp
!run_run_CV.sh
!run1.CV.sh

# Don't ignore this .gitignore file itself
!.gitignore

# Don't ignore documentation and repository config files
!README.md
!seq2exp.conf
!scriptse.sh
!plot.tex
!plot.pdf

# Ignore build artifacts and output files (even though we ignore everything by default, be explicit)
*.o
seq2exp
ot*.txt
pars*.txt
format.tex
temp_config_*.conf
# Ignore LaTeX build artifacts
*.aux
*.dvi
*.log
*.ps

# Don't ignore input data directory
!iData/
!iData/*

# Don't ignore test directory
!Tests/
!Tests/*

# Don't ignore .github directory  
!.github/
!.github/*


h822
# seq2exp build and output artifacts
format.tex
ot.txt
ot3.txt
pars2.txt
pars*.txt
ot*.txt
plot.ps
plot.aux
plot.dvi
plot.ps
plot.log
comprehensive_test.yml
server_up_down_test.yml